# --- Configuración General ---
.DS_Store
.idea/
*.iml
.gradle/
**/build/
!src/**/build/

# --- Android / Gradle ---
local.properties
.externalNativeBuild/
.cxx/
captures/
.flatfile/
.gradle/
.settings/
.project
.classpath

# --- iOS / Xcode ---
# Ignoramos todo lo de Xcode, excepto lo esencial para el proyecto
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/xcschemes/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
.DS_Store
*.swp
*.lock
**/xcshareddata/WorkspaceSettings.xcsettings

# --- Carpetas de usuario y caché ---
# Xcode (archivos de usuario)
*.xcuserdatad/
*.userstate
*.moved-aside
*.xcuserstate

# --- Otros ---
node_modules/
.kotlin/
.docusaurus/
.temp/