# --- Configuración General ---
.DS_Store
.idea/
*.iml
.gradle/
**/build/
!src/**/build/

# --- Android / Gradle ---
local.properties
.externalNativeBuild/
.cxx/
captures/
.flatfile/
.settings/
.project
.classpath

# --- iOS / Xcode ---
# Solo ignoramos archivos de usuario temporales, no la estructura del proyecto
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/xcschemes/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# Aseguramos que los archivos de configuración del workspace se mantengan
!*.xcworkspace/
.lock
*.swp

# --- Carpetas de usuario y caché ---
*.xcuserdatad/
*.userstate
*.moved-aside
*.xcuserstate

# --- Otros ---
node_modules/
.kotlin/
.docusaurus/
.temp/