<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>

        <!-- Añade este bloque para permitir conexiones de red -->
        <key>NSAppTransportSecurity</key>
        <dict>
            <!-- Si necesitas permitir HTTP (no recomendado en producción) -->
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
    </dict>
</plist>